.HostMenu {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;

    .Link-logo {
        display: flex;
        justify-content: center;
    }

    ul {
        padding: 0;

        li {
            list-style: none;
            padding: .7rem;
            a {
                display: flex;
                gap: .2rem;
                text-decoration: none;
            }

            button {
                width: 100%;
            }
        }
    }
}